parameters:
    level: 6
    parallel:
        maximumNumberOfProcesses: 0
        jobSize: 20
        processTimeout: 600.0
    paths:
        - src
        - apps
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/apps/HttpApi/public/index.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # PHPStan 1.12+ deprecations: keep previous behaviour (less strict about missing generics/iterable value types)
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        # Ignore common PSR-7/Psr-18 patterns
        - '~Psr\\\\Http\\\\Message\\\\.*~'
        - '~Psr\\\\Http\\\\Server\\\\.*~'
        # Ignore preg_match isset warnings (known false positives)
        - '~Offset 1 on array.*in isset\(\) always exists~'
        # Ignore Symfony Console static properties (used by framework internally)
        - '~Static property .*::\$defaultName is never read~'
        - '~Static property .*::\$defaultDescription is never read~'
